DSPMQVER=/opt/mqm/bin/dspmqver
DSPMQ=/opt/mqm/bin/dspmq
RUNMQSC=/opt/mqm/bin/runmqsc
AMQSEVT=/opt/mqm/bin/amqsevt
ACEUSR=mqbrk
MQSIPROFILE=/opt/ibm/ace-12/server/bin/mqsiprofile
IIBMQSIPROFILE=/opt/ibm/iib-10.0.0.11/server/bin/mqsiprofile
PYTHON={{python_install_dir}}
SRVUID={{agent_unique_id}}
MWADMIN={{midleo_website_base_url}}
SSLENABLED={{midleo_website_base_url_ssl}}
GROUPID={{group_id}}
UPDINT={{update_interval_minutes}}
INTTOKEN={{inttoken}}
ALLOWED_COMMANDS={{ allowed_commands | join(',') }}
ALLOW_SHELL_COMMANDS=n
AGENT_BIND_HOST=0.0.0.0
REMOTE_FILE_ROOTS={{ agent_install_dir | default('/var/midleoagent/') }}
SSLVERIFY=y
REQUEST_TIMEOUT_SECONDS=20
JOB_TIMEOUT_SECONDS=55
