---
- set_fact:
    agent_unique_id: "{{ lookup('password', '/dev/null length=16 chars=hexdigits') }}"
    agent_install_dir: "/var/midleoagent/"
    python_install_dir: "/usr/bin/python3"

- name: "Create {{ midleo_mwuser }} group"
  group:
    name: "{{ midleo_mwuser }}"
    state: present

- name: "Create {{ midleo_mwuser }} user"
  user:
    name: "{{ midleo_mwuser }}"
    shell: /bin/bash
    groups: "{{ midleo_mwuser }}"
    expires: -1
    create_home: yes

- name: "Add to docker if present"
  user:
    name: "{{midleo_mwuser}}"
    groups: "docker"
    append: yes
  ignore_errors: True

- name: "create midleoagent folder"
  file:
    path: "{{item}}"
    state: directory
    mode: '0755'
  loop:
    - "{{agent_install_dir}}"
    - "{{agent_install_dir}}modules"
    - "{{agent_install_dir}}runable"
    - "{{agent_install_dir}}logs"
    - "{{agent_install_dir}}config"
    - "{{agent_install_dir}}extchecks"
- name: "creage agent"
  template:
    src: templates/python/midleo_client.py
    dest: "{{agent_install_dir}}midleo_client.py"
    owner: "{{midleo_mwuser}}"
    group: "{{midleo_mwuser}}"
    mode: '0644'
- name: "creage agent script"
  template:
    src: templates/python/magent.sh
    dest: "{{agent_install_dir}}magent.sh"
    owner: "{{midleo_mwuser}}"
    group: "{{midleo_mwuser}}"
    mode: '0755'
- name: "creage cronjob script"
  template:
    src: templates/python/cronjobs.sh
    dest: "{{agent_install_dir}}cronjobs.sh"
    owner: "{{midleo_mwuser}}"
    group: "{{midleo_mwuser}}"
    mode: '0755'
- name: "check exist agentconfig"
  stat: "path={{agent_install_dir}}config/mwagent.config"
  register: st_agcfg
- name: "creage agentconfig"
  template:
    src: templates/mwagent.config.j2
    dest: "{{agent_install_dir}}config/mwagent.config"
    owner: "{{midleo_mwuser}}"
    group: "{{midleo_mwuser}}"
    mode: '0644'
  when: not st_agcfg.stat.exists
- name: "Create module directories"
  file:
    path: "{{ agent_install_dir }}/modules/{{ item.path }}"
    state: directory
    owner: "{{ midleo_mwuser }}"
    group: "{{ midleo_mwuser }}"
    mode: '0755'
  with_filetree: templates/python/modules
  when: item.state == 'directory'
- name: "Create runable directories"
  file:
    path: "{{ agent_install_dir }}/runable/{{ item.path }}"
    state: directory
    owner: "{{ midleo_mwuser }}"
    group: "{{ midleo_mwuser }}"
    mode: '0755'
  with_filetree: templates/python/runable
  when: item.state == 'directory'
- name: "Upload module scripts"
  copy: 
    src: "{{ item.src }}"
    dest: "{{ agent_install_dir }}/modules/{{ item.path }}"
    owner: "{{ midleo_mwuser }}"
    group: "{{ midleo_mwuser }}"
    mode: '0755'
    force: yes
  with_filetree: templates/python/modules
  when: item.state == 'file'
- name: "Upload runable scripts"
  copy: 
    src: "{{ item.src }}"
    dest: "{{ agent_install_dir }}/runable/{{ item.path }}"
    owner: "{{ midleo_mwuser }}"
    group: "{{ midleo_mwuser }}"
    mode: '0755'
    force: yes
  with_filetree: templates/python/runable
  when: item.state == 'file'
- name: Update apt repo and cache on all Debian/Ubuntu boxes
  apt: 
    update_cache: yes 
    force_apt_get: yes 
    cache_valid_time: 3600
  tags: update
- name: Install required system packages
  apt:
    pkg:
      - gcc
      - curl
      - python3-dev
      - python3-pip
      - python3-setuptools
- name: Install python packages
  pip:
    name:
      - psutil
      - py-cpuinfo
      - dnspython
      - requests
      - pycryptodome
      - pywinrm
      - netifaces
#      - pymqi
    state: latest
    extra_args: --break-system-packages
- name: copy agent service
  template:
    src: "templates/agent_linux_service.j2"
    dest: "/etc/systemd/system/midleoagent.service"
- name: enable service
  systemd:
    name: midleoagent
    enabled: yes
    daemon_reload: yes
    masked: no
- name: start midleoagent
  service:
    name: midleoagent
    state: started
- name: "Create crontab /etc/cron.d/midleoagent"
  cron:
    name: restart agent
    weekday: "*/2"
    minute: "0"
    hour: "1"
    user: "{{midleo_mwuser}}"
    job: "service midleoagent stop && sleep 5 && service midleoagent start"
    cron_file: midleoagent
...