set "DSPMQVER=D:/apps/IBM/MQ/bin/dspmqver.exe"
set "DSPMQ=D:/apps/IBM/MQ/bin/dspmq.exe"
set "RUNMQSC=D:/apps/IBM/MQ/bin/runmqsc.exe"
set "AMQSEVT=D:/apps/IBM/MQ/bin/amqsevt.exe"
set "ACEUSR=mqbrk"
set "MQSIPROFILE=D:/apps/IBM/ACE/server/bin/mqsiprofile.cmd"
set "IIBMQSIPROFILE=D:/apps/IBM/IIB/server/bin/mqsiprofile.cmd"
set "WEBLOGIC_HOME={{ weblogic_home | default('') }}"
set "IBMMQ_HOME={{ ibmmq_home | default('D:/apps/IBM/MQ') }}"
set "IBMACE_HOME={{ ibmace_home | default('D:/apps/IBM/ACE/server') }}"
set "IBMIIB_HOME={{ ibmiib_home | default('D:/apps/IBM/IIB/server') }}"
set "TOMCAT_HOME={{ tomcat_home | default('') }}"
set "JBOSS_HOME={{ jboss_home | default('') }}"
set "IBMWAS_HOME={{ ibmwas_home | default('') }}"
set "RABBITMQ_HOME={{ rabbitmq_home | default('') }}"
set "TIBCOEMS_HOME={{ tibcoems_home | default('') }}"
set "ACTIVEMQ_HOME={{ activemq_home | default('') }}"
set "KAFKA_HOME={{ kafka_home | default('') }}"
set "MSIIS_HOME={{ msiis_home | default('') }}"
set "PYTHON={{python_install_dir}}/python.exe"
set "MIDLEO_CRYPTO_SECRET={{ agent_install_dir }}config/crypto.secret"
