set "DSPMQVER=D:/apps/IBM/MQ/bin/dspmqver.exe"
set "DSPMQ=D:/apps/IBM/MQ/bin/dspmq.exe"
set "RUNMQSC=D:/apps/IBM/MQ/bin/runmqsc.exe"
set "AMQSEVT=D:/apps/IBM/MQ/bin/amqsevt.exe"
set "ACEUSR=mqbrk"
set "MQSIPROFILE=D:/apps/IBM/ACE/server/bin/mqsiprofile.cmd"
set "IIBMQSIPROFILE=D:/apps/IBM/IIB/server/bin/mqsiprofile.cmd"
set "PYTHON={{python_install_dir}}/python.exe"
set "MIDLEO_CRYPTO_SECRET={{ agent_install_dir }}config/crypto.secret"
