DSPMQVER=D:/apps/IBM/MQ/bin/dspmqver.exe
DSPMQ=D:/apps/IBM/MQ/bin/dspmq.exe
RUNMQSC=D:/apps/IBM/MQ/bin/runmqsc.exe
AMQSEVT=D:/apps/IBM/MQ/bin/amqsevt.exe
ACEUSR=mqbrk
MQSIPROFILE=D:/apps/IBM/ACE/server/bin/mqsiprofile.cmd
IIBMQSIPROFILE=D:/apps/IBM/IIB/server/bin/mqsiprofile.cmd
PYTHON={{python_install_dir}}/python.exe
SRVUID={{agent_unique_id}}
MWADMIN={{midleo_website_base_url}}
SSLENABLED={{midleo_website_base_url_ssl}}
GROUPID={{group_id}}
UPDINT={{update_interval_minutes}}
INTTOKEN={{agent_bootstrap_token}}
AGENT_TYPE=python
ALLOWED_COMMANDS={{ allowed_commands | join(',') }}
ALLOW_SHELL_COMMANDS=n
AGENT_BIND_HOST=0.0.0.0
REMOTE_FILE_ROOTS={{ agent_install_dir }}
ACTION_SCRIPT_ROOTS={{ agent_install_dir }}extchecks,C:/midleo/actions,D:/apps/midleo/actions
SSLVERIFY=y
REQUEST_TIMEOUT_SECONDS=20
JOB_TIMEOUT_SECONDS=55
