DSPMQVER=/opt/mqm/bin/dspmqver
DSPMQ=/opt/mqm/bin/dspmq
RUNMQSC=/opt/mqm/bin/runmqsc
AMQSEVT=/opt/mqm/bin/amqsevt
ACEUSR=mqbrk
MQSIPROFILE=/opt/ibm/ace-12/server/bin/mqsiprofile
IIBMQSIPROFILE=/opt/ibm/iib-10.0.0.11/server/bin/mqsiprofile
PYTHON={{python_install_dir}}
SRVUID={{agent_unique_id}}
MWADMIN={{midleo_website_base_url}}
SSLENABLED={{midleo_website_base_url_ssl}}
GROUPID={{group_id}}
UPDINT={{update_interval_minutes}}
INTTOKEN={{agent_bootstrap_token}}
AGENT_TYPE=python
ALLOWED_COMMANDS={{ allowed_commands | join(',') }}
ALLOW_SHELL_COMMANDS=n
AGENT_BIND_HOST=0.0.0.0
REMOTE_FILE_ROOTS={{ agent_install_dir | default('/var/midleoagent/') }}
ACTION_SCRIPT_ROOTS={{ agent_install_dir | default('/var/midleoagent/') }}extchecks,/opt/midleo/actions
SSLVERIFY=y
REQUEST_TIMEOUT_SECONDS=20
JOB_TIMEOUT_SECONDS=55
MIDLEO_CRYPTO_SECRET={{ agent_install_dir | default('/var/midleoagent/') }}config/crypto.secret
ZOS_PYTHON_HOME={{ midleo_zos_python_home | default('') }}
ZOS_ZPYMQI_PATH={{ midleo_zos_zpymqi_path | default('') }}
ZOS_STEPLIB={{ midleo_zos_steplib | default('') }}
ZOAU_HOME={{ midleo_zos_zoau_home | default('') }}
ZOS_BPXK_AUTOCVT={{ midleo_zos_bpxk_autocvt | default('ON') }}
ZOS_CEE_RUNOPTS="{{ midleo_zos_cee_runopts | default('FILETAG(AUTOCVT,AUTOTAG) POSIX(ON)') }}"
ZOS_TAG_REDIR_ERR={{ midleo_zos_tag_redir_err | default('txt') }}
ZOS_TAG_REDIR_IN={{ midleo_zos_tag_redir_in | default('txt') }}
ZOS_TAG_REDIR_OUT={{ midleo_zos_tag_redir_out | default('txt') }}
MIDLEO_SHELL={{ midleo_shell | default('/bin/sh') }}
